server:
  port: 8082
eureka:
  instance:
    hostname: localhost
  client:
    enabled: true
    eureka-server-connect-timeout-seconds: 10
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://localhost:8082/eureka/
